#billing_postcode_field,
#billing_state_field {
   flex: 0 0 calc(50% - 0.9375rem) !important;
   max-width: calc(50% - 0.9375rem) !important;
   width: calc(50% - 0.9375rem) !important;
}

@media (max-width: 992px) {
   #billing_postcode_field,
   #billing_state_field {
      flex: 0 0 100% !important;
      max-width: 100% !important;
      width: 100% !important;
   }
}

.woocommerce-billing-fields__field-wrapper {
   display: flex;
   column-gap: 1.875rem;
   row-gap: 0.625rem;
   align-items: space-between;
   flex-wrap: wrap;
}
@media (max-width: 992px) {
   .woocommerce-billing-fields__field-wrapper {
      column-gap: 0.625rem;
   }
}

.woocommerce-billing-fields__field-wrapper .form-row-first,
.woocommerce-billing-fields__field-wrapper .form-row-last {
   flex: 0 0 calc(50% - 0.9375rem) !important;
   max-width: calc(50% - 0.9375rem) !important;
   width: calc(50% - 0.9375rem) !important;
}

@media (max-width: 992px) {
   .woocommerce-billing-fields__field-wrapper .form-row-first,
   .woocommerce-billing-fields__field-wrapper .form-row-last {
      flex: 0 0 100% !important;
      max-width: 100% !important;
      width: 100% !important;
   }
}

.woocommerce-billing-fields__field-wrapper .form-row {
   flex: 0 0 100%;
   max-width: 100%;
   width: 100%;
}

.custom-form-checkout input:not([type='radio']):not([type='checkbox']):not([type='file']),
.custom-form-checkout textarea,
.custom-form-checkout .select2-selection {
   letter-spacing: 0.0375rem;
   color: #151515;
   padding: 1rem 1.25rem !important;
   font-size: 1.125rem;
   display: block;
   width: 100%;
   border: 0;
   background: 0 0;
   appearance: none;
   box-shadow: #fff 0 0 0 2.5rem inset;
   border-radius: 0.25rem;
   transition: background 270ms cubic-bezier(0, 0, 0.2, 1) 0s, box-shadow 270ms cubic-bezier(0, 0, 0.2, 1) 0s;
   border: 2px solid #e6e6e6;
   min-height: 58px;
   outline: none !important;
   box-shadow: none !important;
}
.custom-form-checkout select {
   letter-spacing: 0.0375rem;
   color: #151515;
   padding: 1rem 1.25rem !important;
   font-size: 1.125rem;
   display: block;
   width: 100%;
   border: 0;
   background: 0 0;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   box-shadow: #fff 0 0 0 2.5rem inset;
   border-radius: 0.25rem;
   transition: background 270ms cubic-bezier(0, 0, 0.2, 1) 0s, box-shadow 270ms cubic-bezier(0, 0, 0.2, 1) 0s;
   border: 2px solid #e6e6e6;
   min-height: 58px;
   outline: none !important;
   box-shadow: none !important;
   background-image: url(../icons/arrow-select.svg);
   background-position: calc(100% - 1rem) 50%;
   background-repeat: no-repeat;
   background-size: 8px 5px;
}

.custom-form-checkout button {
   min-height: 3.125rem !important;
   border-radius: 0.1875rem !important;
   min-width: 18.75rem !important;
   font-weight: 500 !important;
   background-color: #007b6f !important;
}

.custom-form-checkout .select2-container--default .select2-selection--single .select2-selection__arrow {
   height: 26px;
   position: absolute;
   top: 50% !important;
   right: 1rem !important;
   width: 8px;
   transform: translateY(-50%) !important;
}

.custom-form-checkout .select2-selection__rendered {
   padding-left: 0 !important;
}

.custom-form-checkout input[type='checkbox']:not(#bolt-acct-check) + label {
   position: relative;
   cursor: pointer;
   padding: 0;
   letter-spacing: 0.0375rem;
   font-weight: 300;
   font-size: 0.875rem;
   line-height: 1.5rem;
   color: gray;
   padding-left: 2rem;
}

.custom-form-checkout input[type='checkbox']:not(#bolt-acct-check) + label:before {
   content: '';
   margin-right: 10px;
   display: inline-block;
   vertical-align: text-top;
   width: 20px;
   height: 20px;
   background-color: #fff;
   border: 1px solid #151515;
   border-radius: 2px;
   position: absolute;
   left: 0;
   top: 0;
}

.custom-form-checkout .custom-control-label::after {
   position: absolute;
   top: 0.25rem;
   left: -1.5rem;
   display: block;
   width: 1rem;
   height: 1rem;
   content: '';
   background: no-repeat 50% / 50% 50%;
}

.custom-form-checkout input[type='checkbox']:not(#bolt-acct-check) {
   position: absolute;
   opacity: 0;
   z-index: 100;
}

.custom-form-checkout .custom-control {
   position: relative;
   display: block;
   min-height: 1.5rem;
}

.custom-form-checkout input[type='checkbox']:not(#bolt-acct-check):checked + label:before {
   background: #007b6f;
   border-color: #007b6f;
}

.custom-form-checkout input[type='checkbox']:not(#bolt-acct-check):checked + label:after {
   content: '';
   position: absolute;
   left: 5px;
   top: 9px;
   background: #fff;
   width: 2px;
   height: 2px;
   box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
   transform: rotate(45deg);
}

.custom-form-checkout button[type='submit'] {
   margin-top: 0.9375rem !important;
}

.custom-form-checkout .select2 {
   width: 100% !important;
}

.custom-form-checkout .select2-container--default .select2-selection--single {
   border: 2px solid #e6e6e6;
}

.select2-dropdown {
   border: 2px solid #e6e6e6 !important;
}

.woocommerce-invalid .select2-selection {
   border-color: #a00 !important;
}
.woocommerce-validated .select2-selection {
   border-color: #6dc22e !important;
}
